<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div style="background: #eee;padding: 0 100px;">
    {{selectedFiles | json}}
  </div>
</div>
<br>
<p>一次性网络请求和前端处理4W多数据，未使用懒加载优化展示，此demo只是为了看数据完整性</p>
<p style="margin-left:50px">{{loading?'数据量较大，加载中，请等待……':'数据加载完毕'}}</p>
<div class="container">
  <p-tree [value]="filesTreeData" selectionMode="single"
    (selectionChange)="selectionChange($event)"></p-tree>
</div>
